@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-blue: #3074f0;
}

@font-face {
  font-family: "DIN Next LT W23";
  src: url("./assets/fonts/din-next-lt-w23-regular.woff2") format("woff2"),
    url("./assets/fonts/din-next-lt-w23-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next LT W23";
  src: url("./assets/fonts/din-next-lt-w23-regular.woff2") format("woff2"),
    url("./assets/fonts/DINNextLTW23-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "DIN Next LT W23", sans-serif;
  font-display: swap;
}
.slick-dots {
  bottom: 20px !important;
}
.slick-dots li button:before {
  color: var(--custom-blue) !important;
}
.slick-dots li.slick-active button:before,
.slick-dots li.slick-hover button:before {
  color: var(--custom-blue) !important;
}
