@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-blue: #3074f0;
}

@font-face {
  font-family: "DIN Next LT W23";
  src: url("./assets/fonts/DIN Next LT W23 Regular-29d5cc9399fee3fea467ed7bcb64db8591092806574f0c4c583b57c48bfccaf6.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Next LT W23";
  src: url("./assets/fonts/din-next-lt-w23-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DIN Next LT W23";
  src: url("./assets/fonts/din-next-lt-w23-medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

body {
  font-family: "DIN Next LT W23", sans-serif;
  font-display: swap;
}
.slick-dots {
  bottom: 20px !important;
}
.slick-dots li button:before {
  color: var(--custom-blue) !important;
}
.slick-dots li.slick-active button:before,
.slick-dots li.slick-hover button:before {
  color: var(--custom-blue) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.thumbs-gallery .swiper-pagination {
  bottom: -10px !important;
}
.reviews-grid-swiper {
  height: 500px;
}
.reviews-grid-swiper .swiper-slide {
  /* height: calc((100% - 30px) / 2) !important; */
}
